<tr>
  <td colspan="1" class="blank"> </td>
  <td colspan="2" class="total-line">Sous total H.T.</td>
  <td class="total-value"><div class="subtotal"><%= rent.total.subTotal.toFixed(2) %> €</div></td>
</tr>
<% if (rent.vats.length) { %>
<tr>
  <td colspan="1" class="blank"> </td>
  <td colspan="2" class="total-line">TVA <%= (rent.vats[0].rate*100).toFixed(2) %> %</td>
  <td class="total-value"><div class="subtotal"><%= rent.total.vat.toFixed(2) %> €</div></td>
</tr>
<% } %>
<tr>
  <td colspan="1" class="blank"> </td>
  <td colspan="2" class="total-line">Solde antérieur</td>
  <td class="total-value"><div class="subtotal"><%= rent.total.balance.toFixed(2) %> €</div></td>
</tr>
<tr>
  <td colspan="1" class="blank"> </td>
  <td colspan="2" class="total-line">Total T.T.C.</td>
  <td class="total-value"><div class="total"><%= rent.total.grandTotal.toFixed(2) %> €</div></td>
</tr>

<tr>
  <td colspan="1" class="blank"> </td>
  <td colspan="2" class="total-line">Montant payé</td>
  <td class="total-value"><div class="total"><%= rent.total.payment.toFixed(2) %> €</div></td>
</tr>

<tr>
  <td colspan="1" class="blank"> </td>
  <td colspan="2" class="total-line balance"><%= rent.total.newBalance < 0 ? "Solde en votre faveur" : "Montant restant à payer" %></td>
  <td class="total-value balance"><div class="due"><%= Math.abs(rent.total.newBalance).toFixed(2) %> €</div></td>
</tr>
